_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

Gemfile.lock
node_modules
package-lock.json

.DS_Store
*.swp

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.python-version
_bin/__pycache__/

