---
title: Home
layout: default
markdown: False
hero:
  title: "Data standards"
  sub_title: 'How data standards for planning and housing are developed by the Ministry of Housing, Communities & Local Goverment.'
---
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    {% if page.navigation or site.data.navigation %}
      <h2 class="govuk-heading-m">About our work</h2>
      {% for section in site.data.navigation %}
        <div class="app-content-list govuk-!-margin-bottom-8">
          {% if section.title %}
            <h2 class="app-content-list__heading govuk-heading-m">{{ section.title }}</h2>
          {% endif %}
          {% if section.links %}
            <ul class="app-content-list__list" data-track-count="cardList">
              {% for link in section.links %}
                <li class="app-content-list__list-item">
                  <div class="app-content-list__list-item-wrapper">
                    <h3 class="app-content-list__sub-heading">
                      <a
                        class="app-content-list__link"
                        data-track-count="cardLink"
                        href="{{ site.baseurl }}{{ link.url }}">
                        <div class="app-content-list__link-text">{{ link.text }}</div>
                        {% if link.description %}
                          <div class="app-content-list__description app-content-list__link-description">
                            {{ link.description }}
                          </div>
                        {% endif %}
                      </a>
                    </h3>
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
    <h2 class="govuk-heading-m">Services and tools</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li class="govuk-list__item govuk-!-margin-bottom-6">
        <p class="govuk-body govuk-!-margin-bottom-1">
          <a href="https://standards.planning-data.dev/" class="govuk-link govuk-!-font-weight-bold">Standards manual</a>
        </p>
        <p class="govuk-body govuk-!-font-size-16">A guide to help teams create standards for planning and housing data.</p>
      </li>
      <li class="govuk-list__item govuk-!-margin-bottom-6">
        <p class="govuk-body govuk-!-margin-bottom-1">
          <a href="https://dluhc-datasets.planning-data.dev/" class="govuk-link govuk-!-font-weight-bold">MHCLG Datasets</a>
        </p>
        <p class="govuk-body govuk-!-font-size-16">Datasets managed by the Digital Land team within the Ministry of Housing, Communities & Local Goverment.</p>
      </li>
      <li class="govuk-list__item govuk-!-margin-bottom-6">
        <p class="govuk-body govuk-!-margin-bottom-1">
          <a href="https://digital-land.github.io/specification/specification/" class="govuk-link govuk-!-font-weight-bold">Specifications</a>
        </p>
        <p class="govuk-body govuk-!-font-size-16">Technical specifications to help users publish and use consistent planning data..</p>
      </li>
      <li class="govuk-list__item govuk-!-margin-bottom-6">
        <p class="govuk-body govuk-!-margin-bottom-1">
          <a href="https://standards-manager.herokuapp.com/" class="govuk-link govuk-!-font-weight-bold">Standards manager</a>
        </p>
        <p class="govuk-body govuk-!-font-size-16">A prototype tool for managing and maintaining technical data standards.</p>
      </li>
      <li class="govuk-list__item govuk-!-margin-bottom-12">
        <p class="govuk-body govuk-!-margin-bottom-1">
          <a href="https://development-plan-prototype.herokuapp.com/" class="govuk-link govuk-!-font-weight-bold">Development plan data collector</a>
        </p>
        <p class="govuk-body govuk-!-font-size-16">Prototype tool for creating data that meets the development plan data standard.</p>
      </li>
      <li class="govuk-list__item govuk-!-margin-bottom-12">
        <p class="govuk-body govuk-!-margin-bottom-1">
          <a href="https://design-code-prototype.planning-data.dev/" class="govuk-link govuk-!-font-weight-bold">Design codes prototype</a>
        </p>
        <p class="govuk-body govuk-!-font-size-16">to show how data found on the Planning Data Platform can be easily presented in different ways on other websites.</p>
      </li>
    </ul>
  </div>
</div>
