---
title: Home
layout: default
markdown: False
hero:
  title: "Data standards"
---
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Understand how data standards for planning and housing are developed by the Department for Levelling Up, Housing and Communities.</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

{% if page.navigation or site.data.navigation %}
  {% for section in site.data.navigation %}
    <div class="app-cards govuk-!-margin-bottom-8">
      {% if section.title %}
        <h2 class="app-cards__heading govuk-heading-m">{{ section.title }}</h2>
      {% endif %}
      {% if section.links %}
        <ul class="app-cards__list" data-track-count="cardList">
          {% for link in section.links %}
            <li class="app-cards__list-item">
              <div class="app-cards__list-item-wrapper">
                <h3 class="app-cards__sub-heading govuk-heading-s">
                  <a class="govuk-link app-cards__link" data-track-count="cardLink" href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
                </h3>
                {% if link.description %}                  
                  <p class="govuk-body app-cards__description">
                    {{ link.description }}
                  </p>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
