---
layout: base
markdown: True
---
{% if page.hero or layout.hero %}
  <!-- hero component here -->
  <div class="app-masthead">
    <div class="govuk-width-container">
      {% assign headingLevel = page.hero.headinglevel | default: layout.hero.headinglevel | default: "h2" %}
      <{{ headingLevel }} class="govuk-heading-xl app-masthead__title">
        {% if page.hero.title %}
          {{ page.hero.title }}
        {% elsif layout.hero.title %}
          {{ layout.hero.title }}
        {% endif %}
      </{{ headingLevel }}>
    </div>
  </div>
{% endif %}
<div class="govuk-width-container">
  {% if layout.backlink %}
    <a href="{{ site.baseurl }}{% if page.backlink %}{{ page.backlink.url }}{% else %}{{ layout.backlink.url }}{% endif %}" class="govuk-back-link">
      {% if page.backlink %}{{ page.backlink.text }}{% else %}{{ layout.backlink.text }}{% endif %}
    </a>
  {% endif %}
  <main class="govuk-main-wrapper" id="main-content" role="main">
    {{ content  }}
  </main>
</div>
