---
layout: base
---
{% if page.hero %}
  <!-- hero component here -->
  <div class="app-masthead">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-xl app-masthead__title">Planning Data Standards</h2>
    </div>
  </div>
{% endif %}
<div class="govuk-width-container">
  {% if layout.backlink %}
    <a href="{{ site.baseurl }}{% if page.backlink %}{{ page.backlink.url }}{% else %}{{ layout.backlink.url }}{% endif %}" class="govuk-back-link">
      {% if page.backlink %}{{ page.backlink.text }}{% else %}{{ layout.backlink.text }}{% endif %}
    </a>
  {% endif %}
  <main class="govuk-main-wrapper markdown-content" id="main-content" role="main">
    {{ content }}
  </main>
</div>
