// ########################################################
// import all digital land and GOVUK Frontend scss
// ########################################################
$baseurl: "/data-standards"!default;
$dl-frontend-fonts-path: "#{$baseurl}/assets/govuk-frontend/assets/fonts/";
$dl-frontend-images-path: "#{$baseurl}/assets/govuk-frontend/assets/images/";
@import "digital-land-frontend/dl-frontend";
@import "govuk-extensions";

// ########################################################
// components for this app/website
// ########################################################
@import "components/markdown";
@import "components/masthead";
@import "components/card";
@import "components/subnavigation";
@import "components/engagement-panel";
@import "components/content-list";
