<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="app-header__container govuk-header__container govuk-width-container">
    <div class="app-header__logo govuk-header__logo">
      <a href="{{ baseurl }}/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MHCLG
          </span>
        </span>
        <span class="app-header__service-name">Planning Data Standards</span>
      </a>
    </div>
  </div>
</header>
