{% extends 'digital-land-frontend/layouts/base.jinja' %}

{%- block stylesheets %}
{{ super() }}
<link href="/data-standards/assets/css/application.css" rel="stylesheet" />
{% endblock stylesheets -%}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="app-header__container govuk-header__container govuk-width-container">
    <div class="app-header__logo govuk-header__logo">
      <a href="{{ baseurl }}/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DLUHC
          </span>
        </span>
        <span class="app-header__service-name">Planning Data Standards</span>
      </a>
    </div>
  </div>
</header>
{% endblock header %}

{% block beforeContent %}
<a href="{{ baseurl }}/what-we-are-working-on" class="govuk-back-link">Back to What we are working on</a>
{% endblock beforeContent %}

{% block content %}
<span class="govuk-caption-xl">Data standards</span>
<h1 class="govuk-heading-xl">Backlog of planning considerations</h1>

<p class="govuk-body-l">We currently have a total of <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ count }}</span> planning considerations on our backlog.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<form class="filter-organisations-list__form filter-organisations-list__form--active govuk-!-margin-bottom-9" data-filter="form">
  <label class="dl-list-filter__label govuk-label govuk-!-font-weight-bold" for="filter-organisations-list">I'm looking for</label>
  <input class="dl-list-filter__input govuk-input" type="text" id="filter-organisations-list" placeholder="For example, Planning conditions">
</form>

<div class="concerns-list__wrapper">

  <div class="concerns-list__count__wrapper">
    <p class="govuk-body">Showing <span class="js-accessible-list-filter__count">{{ count }}</span> planning considerations</p>
    <span class="govuk-body govuk-!-font-weight-bold govuk-visually-hidden js-list-filter__count" aria-hidden="true">{{ count }}</span>
  </div>

  <dl class="govuk-summary-list" data-filter="list">
    {% for concern in concerns -%}
    <div class="govuk-summary-list__row" data-filter="item">
      <dt class="govuk-summary-list__key" data-filter="match-content">
        <a href="{{ baseurl }}/what-we-are-working-on/planning-consideration/{{ concern['Concern']|slugify }}" class="govuk-link govuk-link--text-colour">{{ concern['Concern'] }}</a>
      </dt>
      <dd class="govuk-summary-list__value">
        {% if concern['Stage'] == "Backlog" %}
        {% set status_class = "grey" %}
        {% elif concern['Stage'] == "On the platform" %}
        {% set status_class = "green" %}
        {% else %}
        {% set status_class = "blue" %}
        {% endif %}
        <strong class="govuk-tag govuk-tag--{{ status_class }}">
          {{ concern['Stage'] }}
        </strong>
      </dd>
      <dd class="govuk-summary-list__actions">
        {%- if concern['discussion-number'] %}
        <a class="govuk-link" href="{{ discussionsURL }}{{ concern['discussion-number'] }}">
          See discussion</a>
        {%- elif concern['issue-number'] %}
          <a class="govuk-link" href="{{ issuesURL }}{{ concern['issue-number'] }}">
          See discussion</a>
        {% endif -%}
      </dd>
    </div>
    {%- endfor %}

  </dl>
</div>

<p class="dl-list-filter__no-filter-match js-no-filter-list-matches">No planning considerations match your search term.</p>

<div class="app-engagement-panel">
  <h2 class="govuk-heading-m app-engagement-panel__heading">Are we missing something?</h2>
  <p class="govuk-body app-engagement-panel__body">If you think we are missing a planning consideration, <a href="https://github.com/digital-land/data-standards-backlog/issues/23" class="govuk-link">let the team know</a>.</p>
</div>
{% endblock content %}

{% block footer %}
  {% include './partials/footer.html' %}
{% endblock footer %}

{% block govScripts %}
<script src="{{ assetPath | default('/assets') }}/js/govuk/govuk-frontend.js"></script>
<script>
  // initiate all GOVUK components
  window.GOVUKFrontend.initAll();
</script>
{% endblock govScripts %}

{% block digitalLandScripts %}
<script src="{{ assetPath | default('/assets') }}/js/digital-land-frontend.js"></script>
{% endblock digitalLandScripts %}

{% block pageScripts %}
<script>
  // initialise list filter
  const $form = document.querySelector('[data-filter="form"]');
  new window.DLFrontend.ListFilter($form).init({
    list_section_selector: '.concerns-list__wrapper',
    count_wrapper_selector: '.concerns-list__count__wrapper'
  })
</script>
{% endblock %}
