{% extends 'digital-land-frontend/layouts/base.jinja' %}

{%- block stylesheets %}
{{ super() }}
<link href="/data-standards/assets/css/application.css" rel="stylesheet" />
{% endblock stylesheets -%}

{% block header %}
{% include './partials/header.html' %}
{% endblock header %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Data Standards",
      'href': baseurl + "/"
    },
    {
      'text': "Planning consideration",
      'href': baseurl + "/what-we-are-working-on/planning-consideration"
    },
    {
      'text': consideration['concern']
    }
  ]
}) }}
{% endblock beforeContent %}

{% block content %}
<span class="govuk-caption-xl">Planning consideration</span>
<h1 class="govuk-heading-xl">{{ consideration['concern'] }}</h1>

<p class="govuk-body"><span class="govuk-tag govuk-tag--grey">{{ consideration['status'] }}</span></p>

<h4 class="govuk-heading-s">Description</h4>
<p class="govuk-body">{{ consideration['description'] }}</p>

<h4 class="govuk-heading-s">Legislation</h4>
<p class="govuk-body">
  {%- if consideration['legislation'] %}
  {{ consideration['legislation'] }}
  {% else -%}
  <span class="govuk-hint">Legislation not captured.</span>
  {% endif -%}
</p>

<h4 class="govuk-heading-s">Who is asking for it?</h4>
{%- set requesters = consideration['who-asked-for-it'].split(';') %}
{% if requesters|length > 0 -%}
  <ul class="govuk-list govuk-list--bullet">
    {%- for requester in requesters %}
    <li>{{ requester }}</li>
    {% endfor -%}
  </ul>
{%- endif %}
<p class="govuk-body">{{ consideration['legislation'] }}</p>

{%- if consideration['needs-a-standard']|lower == "no"  %}
<h4 class="govuk-heading-s">National dataset</h4>
<p class="govuk-body">{{ consideration['dataset-name'] }}<br />
  <a href="{{ consideration['url-of-national-dataset'] }}" class="govuk-link">{{ consideration['url-of-national-dataset'] }}</a>
</p>
<p class="govuk-body">Documentation url: <a href="{{ consideration['national-dataset-documentation-page'] }}" class="govuk-link">{{ consideration['national-dataset-documentation-page'] }}</a></p>
<p class="govuk-body">Licence: {% if not consideration['license'] %}
  <span class="govuk-tag govuk-tag--yellow">Missing</span>
  {% else %}
  <a href="{{ consideration['license'] }}" class="govuk-link">{{ consideration['license'] }}</a>
{% endif %}</p>
{% endif -%}

{% if consideration['schema-urls'] or consideration['specification-urls'] %}
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h3 class="govuk-heading-l">What we've modelled</h3>
{% endif %}

{% if consideration['schema-urls'] %}
<h4 class="govuk-heading-s">Schemas</h4>
<p class="govuk-body">We have created schemas for {{ consideration['concern'] }}.</p>
{%- set urls = consideration['schema-urls'].split(';') %}
{% if urls|length > 0 -%}
  <ul class="govuk-list govuk-list--bullet">
    {%- for url in urls %}
    {%- set schema_name = url.split('/')[-1].replace('.md', "").replace("-", " ")|capitalize %}
    <li><a href="{{ url }}" class="govuk-link">{{ schema_name }}</a></li>
    {% endfor -%}
  </ul>
{%- endif %}
{% endif %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-l">Get involved</h4>

<p class="govuk-body">
{%- if consideration['discussion-number'] %}
Comments and feedback on this planning consideration may be provided on the <a href="https://github.com/digital-land/data-standards-backlog/discussions/{{consideration['discussion-number']}}" class="govuk-link">GitHub discussion</a>.
{% else -%}
<span class="govuk-hint">No github discussion set up.</span>
{% endif -%}
</p>

{% endblock content %}

{% block footer %}
  {% include './partials/footer.html' %}
{% endblock footer %}

{% block govScripts %}
<script src="{{ assetPath | default('/assets') }}/js/govuk/govuk-frontend.js"></script>
<script>
  // initiate all GOVUK components
  window.GOVUKFrontend.initAll();
</script>
{% endblock govScripts %}

{% block digitalLandScripts %}
<script src="{{ assetPath | default('/assets') }}/js/digital-land-frontend.js"></script>
{% endblock digitalLandScripts %}

{% block pageScripts %}{% endblock %}
