{% extends 'digital-land-frontend/layouts/base.jinja' %}

{%- block stylesheets %}
{{ super() }}
<link href="/data-standards/assets/css/application.css" rel="stylesheet" />
{% endblock stylesheets -%}

{% block header %}
{% include './partials/header.html' %}
{% endblock header %}

{% block beforeContent %}
<a href="{{ baseurl }}/what-we-are-working-on" class="govuk-back-link">Back to What we are working on</a>
{% endblock beforeContent %}

{% block content %}
<span class="govuk-caption-xl">Planning consideration</span>
<h1 class="govuk-heading-xl">{{ consideration['Concern'] }}</h1>

{% endblock content %}

{% block footer %}
  {% include './partials/footer.html' %}
{% endblock footer %}

{% block govScripts %}
<script src="{{ assetPath | default('/assets') }}/js/govuk/govuk-frontend.js"></script>
<script>
  // initiate all GOVUK components
  window.GOVUKFrontend.initAll();
</script>
{% endblock govScripts %}

{% block digitalLandScripts %}
<script src="{{ assetPath | default('/assets') }}/js/digital-land-frontend.js"></script>
{% endblock digitalLandScripts %}

{% block pageScripts %}{% endblock %}
