{% extends 'digital-land-frontend/layouts/base.jinja' %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}

{%- block stylesheets %}
{{ super() }}
<link href="/data-standards/assets/css/application.css" rel="stylesheet" />
{% endblock stylesheets -%}

{% block header %}
{% include './partials/header.html' %}
{% endblock header %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Data Standards",
      'href': baseurl + "/"
    },
    {
      'text': "Planning consideration",
      'href': baseurl + "/what-we-are-working-on/planning-consideration"
    },
    {
      'text': consideration['concern']
    }
  ]
}) }}
{% endblock beforeContent %}

{% block content %}

  <span class="govuk-caption-xl">Planning consideration</span>
  <h1 class="govuk-heading-xl">{{ consideration['concern'] }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full -govuk-grid-column-two-thirds-from-desktop">

      <h2 class="govuk-heading-m">Description</h2>
      <p class="govuk-body">{{ consideration['description'] }}</p>

      {% if not consideration.markdown | markdown_filter == None and not consideration.markdown | markdown_filter == "" %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="markdown-content">
          <p>{{ consideration.markdown | markdown_filter }}</p>
        </div>
        <!-- /.markdown-content -->
      {% endif %}

      {% if consideration['schemas'] or consideration['specification-url'] %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m">What we've modelled</h3>

        {% if consideration['specification-url'] %}
        <h4 class="govuk-heading-s">Specification</h4>
        <p class="govuk-body">We have drafted <a href="{{ consideration['specification-url'] }}" class="govuk-link">a specification for {{ consideration['concern'] }}</a>.</p>
        {% endif %}

        {% if consideration['schemas'] %}
          <h4 class="govuk-heading-s">Schemas</h4>
          <p class="govuk-body">We have created schemas for {{ consideration['concern'] }}.</p>
          <ul class="govuk-list govuk-list--bullet">
              {%- for schema in consideration['schemas'] %}
              <li><a href="{{ schema.url }}" class="govuk-link">{{ schema.name }}</a></li>
              {% endfor -%}
          </ul>
        {% endif %}

      {% endif %}

      {% if consideration['links'] %}
      <h4 class="govuk-heading-s">Useful links</h4>
      <ul class="govuk-list govuk-list--bullet">
        {% for _link in consideration['links'] %}
        <li><a href="{{ _link['url'] }}" class="govuk-link">{{ _link['title'] }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if consideration['partners'] %}
      <h4 class="govuk-heading-s">Who we are working with</h4>
      <ul class="govuk-list govuk-list--bullet">
        {% for partner in consideration['partners'] %}
        <li><a href="{{ partner['url'] }}" class="govuk-link">{{ partner['name'] }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
    <div class="govuk-grid-column-full -govuk-grid-column-one-third-from-desktop">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--svisible govuk-!-margin-top-1">

      {% set legislationContent %}
        {%- if consideration['legislation'] %}
        {{ consideration['legislation'] }}
        {% else -%}
        <span class="govuk-hint">Legislation not captured.</span>
        {% endif -%}
      {% endset %}

      {%- set requesters = consideration['who-asked-for-it'].split(';') %}
      {% set hasRequesters = requesters|length > 0 and requesters[0] != "" %}
      {% if hasRequesters %}
        {% set requestersHTML %}
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
            {%- for requester in requesters %}
            <li>{{ requester }}</li>
            {% endfor -%}
          </ul>
        {% endset %}
      {%- endif %}

      {%- set relatedHTML %}
      {% if consideration['related-planning-considerations'] %}
        {%- set relatedpcs = consideration['related-planning-considerations'].split(';') %}
        {% if relatedpcs|length > 0 -%}
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          {%- for related in relatedpcs %}
          <li><a href="{{baseurl}}/what-we-are-working-on/planning-consideration/{{ consideration['concern']|slugify }}" class="govuk-link">{{ related }}</a></li>
          {% endfor -%}
        </ul>
        {%- endif %}
      {%- else %}
        <span class="govuk-hint">No linked planning considerations</span>
      {% endif %}
      {% endset -%}

      {% set LicenceHTML %}
      <p class="govuk-body">Licence:
      {% if not consideration['license'] %}
        <span class="govuk-tag govuk-tag--yellow">Missing licence</span>
        {% else %}
        <a href="{{ consideration['license'] }}" class="govuk-link">{{ consideration['license'] }}</a>
      {% endif %}</p>
      {% endset %}

      {% set nationalDatasetHTML %}
      {%- if consideration['needs-a-standard']|lower == "no"  %}
      <p class="govuk-body">{{ consideration['dataset-name'] }}<br />
        <a href="{{ consideration['url-of-national-dataset'] }}" class="govuk-link">{{ consideration['url-of-national-dataset'] }}</a>
      </p>
      <p class="govuk-body">Documentation url: <br> <a href="{{ consideration['national-dataset-documentation-page'] }}" class="govuk-link">{{ consideration['national-dataset-documentation-page'] }}</a></p>
      {{ LicenceHTML }}
      {% else %}
        <span class="govuk-hint">Not a national dataset</span>
      {% endif -%}
      {% endset %}

      {{ govukSummaryList({
        "card": {
          "title": {
            "text": "Summary"
          }
        },
        "rows": [
          {
            "key": {
              "text": "Status"
            },
            "value": {
              "html": "<p class='govuk-body'><span class='govuk-tag govuk-tag--grey'>" + consideration['status'] + "</span></p>"
            }
          },
          {
            "key": {
              "text": "Legislation"
            },
            "value": {
              "html": legislationContent
            }
          },
          {
            "key": {
              "text": "Who is asking for it?"
            },
            "value": {
              "html": requestersHTML
            }
          } if hasRequesters else None,
          {
            "key": {
              "text": "National dataset"
            },
            "value": {
              "html": nationalDatasetHTML
            }
          },
          {
            "key": {
              "text": "Related planning considerations"
            },
            "value": {
              "html": relatedHTML
            }
          }
        ]
      }) }}

    </div>
  </div>


  <h4 class="govuk-heading-l app-heading--divider-top govuk-!-margin-top-3">Get involved</h4>

  <p class="govuk-body">
    {%- if consideration['discussion-number'] %}
    Comments and feedback on this planning consideration may be provided on the <a href="https://github.com/digital-land/data-standards-backlog/discussions/{{consideration['discussion-number']}}" class="govuk-link">GitHub discussion</a>.
    {% else -%}
    <span class="govuk-hint">No github discussion set up.</span>
    {% endif -%}
  </p>

{% endblock content %}

{% block footer %}
  {% include './partials/footer.html' %}
{% endblock footer %}

{% block govScripts %}
<script src="{{ assetPath | default('/assets') }}/js/govuk/govuk-frontend.js"></script>
<script>
  // initiate all GOVUK components
  window.GOVUKFrontend.initAll();
</script>
{% endblock govScripts %}

{% block digitalLandScripts %}
<script src="{{ assetPath | default('/assets') }}/js/digital-land-frontend.js"></script>
{% endblock digitalLandScripts %}

{% block pageScripts %}{% endblock %}
